{% extends "dashboard/base.html" %}
{% block title %}WIS – Início{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <div class="small-box bg-info">
      <div class="inner">
        <h3>Mapa</h3>
        <p>Visualizar mandados no mapa</p>
      </div>
      <div class="icon"><i class="fas fa-map"></i></div>
      <a href="{% url 'dashboard:mapa' %}" class="small-box-footer">
        Abrir Mapa <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="small-box bg-success">
      <div class="inner">
        <h3>Pessoas</h3>
        <p>Listagem de pessoas</p>
      </div>
      <div class="icon"><i class="fas fa-users"></i></div>
      <a href="{% url 'dashboard:people-list' %}" class="small-box-footer">
        Ver Pessoas <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>

  <div class="col-md-4">
    <div class="small-box bg-secondary">
      <div class="inner">
        <h3>Health</h3>
        <p>Status da aplicação</p>
      </div>
      <div class="icon"><i class="fas fa-heartbeat"></i></div>
      <a href="{% url 'dashboard:health' %}" class="small-box-footer">
        Verificar <i class="fas fa-arrow-circle-right"></i>
      </a>
    </div>
  </div>

  <div class="col-md-4">
  <div class="small-box bg-warning">
    <div class="inner">
      <h3>Importar</h3>
      <p>Enviar um CSV para base</p>
    </div>
    <div class="icon"><i class="fas fa-file-upload"></i></div>
    <a href="{% url 'dashboard:importar' %}" class="small-box-footer">
      Abrir Importador <i class="fas fa-arrow-circle-right"></i>
    </a>
  </div>
</div>



</div>
{% endblock %}
